apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: three-tier
spec:
  selector:
    app: frontend-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
  type: NodePort
