services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_DATABASE: school
    networks:
      - backend
    volumes:
      - mysql:/var/lib/mysql 
    secrets:
      - mysql_root_password  
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  backend:
    image: backend-image
    build:
      context: backend
      dockerfile: ../backend/Dockerfile
    restart: no
    container_name: backend  
    env_file:
      - ./backend/.env 
    environment:
      DB_PASSWORD_FILE: /run/secrets/mysql_root_password  
    ports:
      - "3500:3500" 
    depends_on:
      mysql:
        condition: service_healthy 
    networks:
      - backend
      - frontend
    secrets:
      - mysql_root_password    

  frontend:
    image: frontend-image
    build:
      context: frontend
      dockerfile: ../frontend/Dockerfile
    restart: always  
    container_name: frontend  
    networks:
      - frontend
    ports:
      - "3000:3000" 
    depends_on:
      - backend

networks:
  frontend:
  backend:

volumes:
  mysql: 

secrets:
  mysql_root_password:
    file: ./secrets/mysql_root_password.txt 
