apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: three-tier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      imagePullSecrets:
      - name: docker-registry-secret
      containers:
      - name: backend-student-app
        image: varshithakj/student-app-backend-image:v2.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3500
        envFrom:
        - configMapRef:
            name: backend-config
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        readinessProbe:
          httpGet:
            path: /health
            port: 3500
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 3500
          initialDelaySeconds: 30
          periodSeconds: 10
