apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: three-tier
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /data/db
