apiVersion: v1
kind: Service
metadata:
  namespace: three-tier
  name: mysql-svc
spec:
  selector:
    app: mysql-db
  type: ClusterIP
  ports:
  - name: mysql-svc
    protocol: TCP
    port: 3306
    targetPort: 3306